* {
    font-size: 1.2rem;
    font-family: 'Gamja Flower', cursive;
}

html, body {
    height: 100%;
}
.center_container {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.form_group {
    margin: 12px;
}
.form_group > label {
    display: inline-block;
    width: 94px
}

#btn_login {
    float: right;
    margin: 12px;
    background-color: red;
    color: #ffffff;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
}
input {
    border-radius: 5px;
}